<!DOCTYPE html>
<html>
    <head>
        <title>Kent Allen</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/stylesheets/main.css">
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto+Slab:400,700" rel="stylesheet">
        
        <script src="/js/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	    
    </head>
    <body data-spy="scroll">
        
        