<% include partials/header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-11 col-lg-11 main-div">
            
            <!--Header Section-->
            <section id="home" data-target="home"></section>
            <div class="jumbotron">
                <img src="/img/brain_tree.png" id="header-img">
                <h1>Kent Allen</h1>
                <p>Computer Engineering student at the <a href="http://www.ece.utah.edu/">University of Utah</a></p>
            </div>
            
            <!--About Me Section-->
            <section id="about" data-target="about">
                <h1>About Me</h1>
                
                <div id="about-body">
                    <p>Bacon ipsum dolor amet beef meatball meatloaf prosciutto, bacon swine doner chuck pork loin tenderloin burgdoggen jerky hamburger. Leberkas landjaeger andouille pancetta strip steak turducken. Pork loin ground round meatball, turkey meatloaf kielbasa porchetta brisket hamburger leberkas jowl. Frankfurter swine flank bacon ham hock brisket pancetta porchetta jowl pork beef ribs. Kielbasa hamburger tail venison leberkas.</p>
                    <p>Porchetta sirloin hamburger pancetta, pork chop ground round ball tip. Ball tip turkey doner, hamburger t-bone tongue burgdoggen meatloaf kevin rump. Capicola spare ribs ground round short loin tenderloin pork belly burgdoggen boudin frankfurter hamburger biltong sausage. Frankfurter capicola turkey, ham porchetta flank brisket. Boudin kielbasa kevin pork chop tail.</p>
                    <p>Beef ribs shank hamburger tail. Shank rump pork loin, pastrami leberkas salami fatback sirloin. Short loin fatback kevin, frankfurter flank ball tip t-bone tail jowl corned beef beef ribs drumstick. Andouille boudin jowl turkey pancetta leberkas t-bone. Turducken meatball rump ball tip, porchetta chuck t-bone ham hock. Burgdoggen turkey pork belly ground round kevin sirloin. Tri-tip leberkas pork prosciutto short ribs ground round, hamburger spare ribs jowl frankfurter ham pork chop swine tenderloin.</p>
                    <p>Sirloin corned beef meatball leberkas biltong pancetta, pork chop ribeye fatback beef. Jerky corned beef short ribs, pork chop chicken andouille ham bacon chuck tenderloin. Tenderloin brisket t-bone hamburger meatball. Landjaeger pork loin bresaola sausage corned beef. <a href="http://www.revolutionlandscapinginc.com">Revolution Landscaping, Inc.</a></p>
                </div>
            </section>
            
        </div>
        <div class="menu-div col-xs-1 col-lg-1">
            <span class="menu-icon glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation" class="menu-button active"><a href="#home">Home</a></li>
              <li role="presentation" class="menu-button"><a href="#about">About Me</a></li>
              <li role="presentation" class="menu-button"><a href="#portfolio">Portfolio</a></li>
            </ul>
        </div>
    </div>
    
    
</div>

<% include partials/footer %>