/*
 * Author: Kent Allen
 *
 * Project Name: Personal Portfolio
 */
body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    /*color: white;*/
    /*background: black;*/
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.nav {
    z-index: 1;
    visibility: hidden;
}

.main {
    z-index: 0;
}

.jumbotron {
    text-align: center;
    background: white;
    /*background-image: url('../img/brain_tree.png');*/
    /*background-size: cover;*/
    /*background: contain;*/
    /*height: 700px;*/
    /*width: 100%;*/
}

#header-img {
    height: auto;
    width: 60%;
}

#about-body {
    width: 50%;
    text-align: justify;
    margin: auto;
}

.menu-div {
    padding-top: 30px;
    /*position: fixed;*/
    /*margin-left: auto;*/
    /*margin-right: 0;*/
    /*float: right;*/
    /*width: 50px;*/
    /*height: 100%;*/
}

.main-div {
    /*float: left;*/
}

p a {
    color: red;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.nav-pills li.active a {
    background-color: white;
    color: black;
}

.nav-pills li.active a:hover {
    background-color: red;
}

.nav li a {
    color: white;
}

.nav li a:hover {
    background-color: red;
    color: white;
}

.nav.nav-pills li a {
    border-radius: 0;
}

.col-xs-2, .col-lg-2 {
    padding-left: 0;
    padding-right: 0;
}

.menu-icon {
    padding: 10px 15px;
    font-size: 24px;
}